.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .logo{
    max-width: 250px;
}

.header .logo img{
    width: 100%;
}

@media (max-width: 480px){
    .header{
        /* height: 10vh; */
    }

    .header .logo{
        max-width: 180px;
        margin: 0 auto;
    }
    
}