@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Barlow", sans-serif; 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; 
}

body{
  font-family: var(--primary-font);
  background: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} 

.container{
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 1rem;
}

#root{
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  background-color: #000000;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
}